.navbar {
  background-color: red !important;
  width: 70%;
  margin: 0 auto;
}

.dashboard {
  padding: 20px;
  margin-top: 60px;
}
.App {
  background: darkslateblue;
  height: 100%;
}

.content_container {
  height: 100%;
  background-color: white;
  width: 70%;
  margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 50%;
  margin: auto;
}
td {
  width: 40%;
  padding-left: 2%;
}

p {
  text-align: center;
}
.card {
  margin: 0 auto 0 auto;
}
.pokeCard {
  padding-left: 50px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
}
.pokeDetails_container {
  display: flex;
  width: 90%;
  margin: 70px auto 0 auto;
}
.pokemon_click {
  color: black;
  text-decoration: none;
  transition: transform 1s;
}
.pokemon_click:hover {
  text-decoration: none;
  box-shadow: 5px 10px 18px #888888;
}
.card-img-top:hover {
  transform: scale(1.1);
}

.image_name {
  text-align: center;
}

.iconify {
  margin: 0 10px 3px 30px;
  font-size: 1.8rem;
}
.navbar_pokedex {
  font-weight: 550;
}
.description {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 20px 100px 20px 100px;
}
.btn_loadMore {
  display: block !important;
  margin: 0 auto 10px auto;
}

@media only screen and (max-width: 800px) {
  .pokeDetails_container {
    flex-direction: column;
  }

  .description {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .pokeCard {
    padding-left: 20px;
  }
  table {
    margin-top: 20px;
    width: 100%;
  }

  .content_container,
  .navbar {
    width: 100%;
  }

  .iconify {
    margin-left: 10px;
  }
}
