.navbar {
  background-color: red !important;
}

.dashboard {
  padding: 20px;
  margin-top: 60px;
}
.App {
  background-color: lightblue;
}

h3 {
  text-align: center
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
td {
  width: 40%;
  padding-left: 2%;
}

p {
  text-align: center;
}

